.github
*.venv/
*.cfg
*rendered/
*__pycache__/
session-02-interaction/02-change-validation-snapshots/snapshots/*.json
session-02-interaction/02-change-validation-snapshots/snapshots/*.log
session-02-interaction/03-ansible-basics/collections/ansible_collections/
session-02-interaction/03-ansible-basics/group_vars/iosxr.yml
session-03-models/